.quizz__conteiner {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.quizz_logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}